p{
    background: gray;
    margin-right: 10%;
}
.secondParagraph{
    background: lightskyblue;
    text-align: center;

}
.ummm{
    border: 3px dashed;
    width: 500px;
    height: 100px;
    text-align: center;
    align-content: center;

}

.okay{
    background: lightpink;
    padding-bottom: 10px;
    padding-top: 10px;
}
